---
import Layout from '../layouts/Layout.astro';
import PhoneDemo from '../components/react/PhoneDemo';
---

<Layout title="Ecosystem | App">
  <div class="bg-nebula-dark min-h-[300vh]"> <PhoneDemo client:visible />
  </div>
</Layout>