---
import Layout from '../layouts/Layout.astro';
import PerformanceChart from '../components/react/PerformanceChart';
---

<Layout title="Performance | Data">
  <div class="min-h-screen bg-nebula-black flex flex-col items-center justify-center p-10 relative overflow-hidden">
    
    <div class="absolute inset-0 z-0 opacity-10" 
         style="background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px); background-size: 50px 50px;">
    </div>

    <div class="relative z-10 w-full max-w-5xl">
        <h1 class="text-5xl font-bold mb-12 text-center">Unfair Advantage.</h1>
        
        <div class="flex justify-center">
            <PerformanceChart client:visible />
        </div>
    </div>

  </div>
</Layout>